@media only screen and (max-width: 800px) {

body {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    align-items: center;
    justify-content: flex-start;
}
#center { order: -1 }

h1 {
    margin-top: 48px;
}
h3 {
    margin: 0;
}

#leftcol, #rightcol, #center {
    width: 80%;
    padding: 24px;
    border-radius: 24px;
}

#leftcol {
    clip-path: initial;
    text-align: initial;
    justify-content: flex-start;
    margin-bottom: 36px;
}
#leftcol ul {
    direction: initial;
    padding-left: 20px;
}


#center {
    padding: 0;
}


#rightcol {
    clip-path: initial;
    justify-content: flex-start;
}

}